// Footer for blog begin
footer.blog-footer.section.bg-variant.six

    .collapse-zone-control
        button(data-target="#subscribe") Subscribe

    .container
        // Expanded container begin
        .collapsed.subscribe-section#subscribe
            h1.section-title Sign Up For Our Newsletters
            p Give us your email address and we will notice you everytime we got new updates on the app. Don't worry we hate spam as much as you do.

            form.subscribe(action="//fantonica.us10.list-manage.com/subscribe/post?u=0f47cc431d4420b8c583678d6&amp;id=70ede084f1")
                .form-group-inline
                    input.form-input(type="text", name="email", placeholder="Enter your e-mail address")
                    .btns
                        button.btn.primary.uppercase(type="submit") Subscribe

        // Expanded container end

        .copyright
            .footer-logo
                a(href="index.html")
                    span Z
                    | ollo
            // Your copyrights
            p Copyright © 2015 | Zollo - All rights reserved.

            // Your socials networks
            ul.socials
                li
                    a.fa.fa-facebook(href="#", target="_blank")
                li
                    a.fa.fa-twitter(href="#", target="_blank")
                li
                    a.fa.fa-instagram(href="#", target="_blank")
                li
                    a.fa.fa-google-plus(href="#", target="_blank")
                li
                    a.fa.fa-tumblr-square(href="#", target="_blank")
                li
                    a.fa.fa-pinterest(href="#", target="_blank")