// Header for blog begin
header.header
    .container
        h1.page-type Blog
            a.back-to-home(href="index.html")
                i.fa.fa-reply
                | &nbsp;Back to home

// Header for blog end