// Navigation begin
.navigation#top-nav
    .container
        nav.nav
            // Navigation logo
            .logo
                a(href="index.html")
                    span Z
                    | ollo

            // Navigation mobile button
            button.mobile-menu-btn
                span
                span
                span


            // Navigation links
            .navbar
                ul#main-navbar
                    li
                        a(href="index.html#start") Get Start
                    li
                        a(href="index.html#work") How work
                    li
                        a(href="index.html#features") Features
                    li
                        a(href="index.html#preview") Preview
                    li.has-sub-menu
                        a(href="#") More
                        ul.sub-menu
                            li
                                a(href="index.html#prices") Prices
                            li
                                a(href="index.html#reviews") Reviews
                            li
                                a(href="index.html#screenshots") Screenshots
                            li
                                a(href="index.html#subscribe") Subscribe
                            li
                                a(href="index.html#news") News
                            li
                                a(href="index.html#contacts") Contacts

                // Search bar
                .search-bar
                    button.search-btn
                        i.icon-glass

                    .search-form
                        input(type="text", placeholder="Search...", tabindex="0")

// Navigation end