doctype html
html
    head
        title
            block title

        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(href="assets/fonts/Ionicons/css/ionicons.min.css", rel="stylesheet")
        link(href="assets/fonts/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="assets/components/slick-carousel/slick/slick.css", rel="stylesheet")
        link(href="assets/components/alertify.js/themes/alertify.core.css", rel="stylesheet")
        link(href="assets/css/main.css", rel="stylesheet")
        link(rel="shortcut icon", href="assets/images/favicon.ico", type="image/x-icon")
    body.preloader

        .main-wrapper
            block content

        button.btn-up
            span
            span

        .loader#loader
            .cssload-whirlpool

        // Developed by Fatonix Team 2016

        script(src="assets/components/jquery/jquery.min.js")
        script(src="assets/components/slick-carousel/slick/slick.min.js")
        script(src="assets/components/jQuery-One-Page-Nav/jquery.nav.js")
        script(src="assets/components/jquery-waypoints/lib/jquery.waypoints.min.js")
        script(src="assets/components/alertify.js/lib/alertify.min.js")
        script(src="assets/components/ajaxchimp/jquery.ajaxchimp.js")
        script(src="assets/js/main.js")