// Awesome section begin
section.section#start
    .container
        // Section title
        h2.section-title It's Awesome
        p Is amazing, modern and clean landing page for showcase your app anything else.

        // Spin columns
        .spins
            .spin
                h4
                    span.icon-cloud
                    | Your Data in Cloud
                p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur

            .spin
                h4
                    span.icon-lifebuoy
                    | Dedicated Support
                p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur

            .spin
                h4
                    span.icon-atom
                    | HTML5 & CSS3
                p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur

            .spin
                h4
                    span.icon-stopwatch
                    | Save your time
                p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur

            .spin
                h4
                    span.icon-nut
                    | Easy to install
                p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur

            .spin
                h4
                    span.icon-settings
                    | Modern widgets
                p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur

// Awesome section end