// News sections begin
section.section.bg-gray#news
    .container
        // Section title
        h2.section-title Zollo news in our blog
        p Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur

        // Posts list
        .post-grid
            // Post item begin
            article.post-item
                // Post thumbnail
                figure.post-thumbnail
                    a(href="blog.html")
                        if prod
                            img(src="http://placehold.it/370x271", alt="app")
                        else
                            img(src="assets/images/post-thumbnail-1.jpg", alt="post thumbnail")

                // Post excerpt
                .post-body
                    h4
                        a(href="blog.html") Zostrum exeration
                    p Lorem ipsum dolor sit amet, consectetur adi iscing elit. Donec elit leo, sollicitudin a vehicula lobortis at neque. Ut aliquam pellentesque

                // Post footer
                .post-footer
                    .post-meta
                        .meta-item
                            span.fa.fa-calendar.fa-fw
                            | 9 February 2016
                        .meta-item
                            span.fa.fa-comments-o.fa-fw
                            | 25
                        .meta-item
                            a.read-more(href="blog.html") Read more
            // Post item end

            // Post item begin
            article.post-item
                // Post thumbnail
                figure.post-thumbnail
                    a(href="blog.html")
                        if prod
                            img(src="http://placehold.it/370x271", alt="app")
                        else
                            img(src="assets/images/post-thumbnail-2.jpg", alt="post thumbnail")

                // Post excerpt
                .post-body
                    h4
                        a(href="blog.html") Zostrum exeration
                    p Lorem ipsum dolor sit amet, consectetur adi iscing elit. Donec elit leo, sollicitudin a vehicula lobortis at neque. Ut aliquam pellentesque

                // Post footer
                .post-footer
                    .post-meta
                        .meta-item
                            span.fa.fa-calendar.fa-fw
                            | 9 February 2016
                        .meta-item
                            span.fa.fa-comments-o.fa-fw
                            | 33
                        .meta-item
                            a.read-more(href="blog.html") Read more
            // Post item end

            // Post item begin
            article.post-item
                // Post thumbnail
                figure.post-thumbnail
                    a(href="blog.html")
                        if prod
                            img(src="http://placehold.it/370x271", alt="app")
                        else
                            img(src="assets/images/post-thumbnail-3.jpg", alt="post thumbnail")

                // Post excerpt
                .post-body
                    h4
                        a(href="blog.html") Zostrum exeration
                    p Lorem ipsum dolor sit amet, consectetur adi iscing elit. Donec elit leo, sollicitudin a vehicula lobortis at neque. Ut aliquam pellentesque

                // Post footer
                .post-footer
                    .post-meta
                        .meta-item
                            span.fa.fa-calendar.fa-fw
                            | 9 February 2016
                        .meta-item
                            span.fa.fa-comments-o.fa-fw
                            | 46
                        .meta-item
                            a.read-more(href="blog.html") Read more
            // Post item end
// News sections end