// Single post section begin
.post-loop
    .container
        // Single post body
        article.post.post-single
            // Post title
            h2.post-title
                a(href="#") Does FinTech Face A Tough 2016?

            // Post meta data
            .post-meta Posted by&nbsp;
                a(href="#") Admin&nbsp;
                | on September 13, 2014

            // Post thumbnail
            .post-thumbnail
                a(href="#")
                    if prod
                        img(src="http://placehold.it/970x465", alt="app")
                    else
                        img(src="assets/images/blog-thumbnail-2.jpg", alt="Blog thumbnail")

            // Post content begin
            .post-body
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                blockquote Cras non dictum eros. In sit amet placerat augue, quis commodo ex. Sed id lectus mollis, luctus turpis ut, fermentum sem. Vestibulum tincidunt lacinia pulvinar. Donec laoreet vitae massa suscipit fringilla. Aliquam sed augue convallis, bibendum tellus vitae, placerat velit. Fusce id leo ullamcorper, consequat dolor at, tincidu.
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            // Post content end

            // Post footer
            .post-footer
                .share
                    strong Share:
                    include share-btns

                .tags
                    a.tag(href="#") Comming soon
                    a.tag(href="#") Last update
                    a.tag(href="#") New idea
                    a.tag(href="#") Offers
                    a.tag(href="#") Photo

        include comments
        include widgets

// Single post section end

