// Subscribe section begin
section.section.bg-variant.four#subscribe
    .container
        // Section title
        h2.section-title Sign Up For Our Newsletters
        p Give us your email address and we will notice you everytime we got new updates on the app. Don't worry we hate spam as much as you do.

        // Subscribe form
        form.subscribe(action="//fantonica.us10.list-manage.com/subscribe/post?u=0f47cc431d4420b8c583678d6&amp;id=70ede084f1")
            .form-group-inline
                input.form-input(type="text", name="email", placeholder="Enter your e-mail address")
                .btns
                    button.btn.primary.uppercase(type="submit") Subscribe
// Subscribe section end