// Video section begin
section.section.bg-variant.two#preview
    .container
        // Section title
        h2.section-title Creative video of your application
        p In our work we try to use only the most modern, convenient and interesting solutions.

        // Embed video from vimeo, youtube, etc.
        .embed-video
            iframe(src="https://player.vimeo.com/video/154693726")

// Video section end
