// Footer begin
section.section.bg-variant.five
    .container
        // Section title
        h2.section-title Get in Touch
        p Follow us in social networks. You can also subscribe for our news. We are going to provide you with actual and important for you information without spam or fluff.

        // Contact form begin
        form.contact-form
            .form-half
                .form-group
                    input.form-input(type="text", name="name", placeholder="Your name")
                .form-group
                    input.form-input(type="email", name="email", placeholder="Your email address")
                .form-group
                    input.form-input(type="text", name="subject", placeholder="Subject")
            .form-half
                .form-group
                    textarea.form-textarea(placeholder="Message", name="message")

                button.btn.primary.uppercase.block(type="submit") Send message
        // Contact form end


        .copyright
            .footer-logo
                a(href="index.html")
                    span Z
                    | ollo
            // Your copyrights
            p Copyright © 2015 | Zollo - All rights reserved.

            // Your socials networks
            ul.socials
                li
                    a.fa.fa-facebook(href="#", target="_blank")
                li
                    a.fa.fa-twitter(href="#", target="_blank")
                li
                    a.fa.fa-instagram(href="#", target="_blank")
                li
                    a.fa.fa-google-plus(href="#", target="_blank")
                li
                    a.fa.fa-tumblr-square(href="#", target="_blank")
                li
                    a.fa.fa-pinterest(href="#", target="_blank")

