// Header begin
header.header.header-variant-2
    .container
        // Web site welcome text

        .header-line
            .muckup.animated-muckup
                if prod
                    img(src="http://placehold.it/800x900?text=Animated+mockup+should+be+here", alt="app")
                else
                    img(src="assets/images/phone-animated.gif" alt="Animated")
            .header-text
                h1.website-heading Welcome to the&nbsp;
                    strong New Zollo Template&nbsp;
                    | landing page
                p Zollo V2.0 is a modern and clean responsive template. Perfect landing page for your product. Built with Jeet-grid, has different homepage styles and color variations. Well organized and comment codes so it’s very easy to customize and use in your project according to your needs.
                .download-btns.white
                    a.btn-app-store(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank")
                    a.btn-play-store(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank")




// Header end