// Header begin
header.header.animated-bg
    .container
        // Web site welcome text
        .header-text
            h1.website-heading Welcome to the&nbsp;
                strong New Zollo Template&nbsp;
                | landing page
            p.text-center We collaborate with independent talents to craft outstanding content that can impress.

        .header-features

            .features-columns.left
                h2 Get this App in AppStore right now
                p Here you can write text or put a link of your application on the app store
                // App store buttons
                .download-btns.white
                    a.btn-app-store(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank")
            .phone-muckup
                // Screenshot
                if prod
                    img(src="http://placehold.it/241x425", alt="app")
                else
                    img(src="assets/images/app-image-2.jpg", alt="app")

            .features-columns.right
                h2 Get this app in Play Market
                p New great features right now on your phone! Best app for business, education, and more
                // App store buttons
                .download-btns.white
                    a.btn-play-store(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank")



// Header end