// Features section begin
section.section#features
    .container
        .featured-image
            .white-phone-muckup.small
                if prod
                    img(src="http://placehold.it/239x408", alt="app")
                else
                    img(src="assets/images/features-screenshot-1.jpg", alt="Screenshot 1")
            .white-phone-muckup
                if prod
                    img(src="http://placehold.it/239x408", alt="app")
                else
                    img(src="assets/images/features-screenshot-1.jpg", alt="Screenshot 1")
        .fetures-text
            // Section title
            h2.section-title Features

            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

            .clearfix
                .half
                    ul.marked
                        li IN APP PURCHASES
                        li FAVOURITE SHOTS
                        li DESKTOP BROWSER
                        li UPLOAD YOUR SHOTS
                        li FAVOURITE LISTS
                .half
                    ul.marked
                        li FEATURED LISTS
                        li CHAT WITH FRIENDS
                        li LIGHT WEIGHT
                        li SLEEP ON INACTIVITY
                        li DOCUMENTATION AND SUPPORT

            .download-btns
                a.btn-app-store(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank")
                a.btn-play-store(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank")
