// Work section begin
section.section.bg-variant.one#work
    .container
        // Section title
        h2.section-title How does it work

        // Slider with notes begin
        .note-slider

            .note-slider-control
                button.slider-prev
                    i.ion-android-arrow-back
                span First view
                button.slider-next
                    i.ion-android-arrow-forward

            // Carousel with screenshots
            .carousel
                .slide(data-title="First View")
                    .slide-inner
                        if prod
                            img(src="http://placehold.it/296x430", alt="app")
                        else
                            img(src="assets/images/slide-1.png", alt="slide 1")

                .slide(data-title="Second View")
                    .slide-inner
                        if prod
                            img(src="http://placehold.it/296x430", alt="app")
                        else
                            img(src="assets/images/slide-2.png", alt="slide 1")

            // Your notes
            .features-carousel
                .slide
                    .notes
                        .note.left
                            h4 Feature 1
                            p Neque porro quisquam est, qui dolorem ipsum qudolorcons

                            .line
                                .circle
                                .circle

                        .note.right
                            h4 Feature 2
                            p Neque porro quisquam est, qui dolorem ipsum qudolorcons

                            .line
                                .circle
                                .circle

                        .note.left
                            h4 Feature 3
                            p Neque porro quisquam est, qui dolorem ipsum qudolorcons

                            .line
                                .circle
                                .circle

                        .note.right
                            h4 Feature 4
                            p Neque porro quisquam est, qui dolorem ipsum qudolorcons

                            .line
                                .circle
                                .circle

                        .note.left
                            h4 Feature 5
                            p Neque porro quisquam est, qui dolorem ipsum qudolorcons

                            .line
                                .circle
                                .circle

                        .note.right
                            h4 Feature 6
                            p Neque porro quisquam est, qui dolorem ipsum qudolorcons

                            .line
                                .circle
                                .circle

                .slide
                    .notes
                        .note.left
                            h4 Feature 7
                            p Eorbi laoreet scelerisque orci finibus ullam corper quam

                            .line
                                .circle
                                .circle

                        .note.right
                            h4 Feature 8
                            p Eorbi laoreet scelerisque orci finibus ullam corper quam

                            .line
                                .circle
                                .circle

                        .note.left
                            h4 Feature 9
                            p Eorbi laoreet scelerisque orci finibus ullam corper quam

                            .line
                                .circle
                                .circle

                        .note.right
                            h4 Feature 10
                            p Eorbi laoreet scelerisque orci finibus ullam corper quam

                            .line
                                .circle
                                .circle

                        .note.left
                            h4 Feature 11
                            p Eorbi laoreet scelerisque orci finibus ullam corper quam

                            .line
                                .circle
                                .circle

                        .note.right
                            h4 Feature 12
                            p Eorbi laoreet scelerisque orci finibus ullam corper quam

                            .line
                                .circle
                                .circle

        // Slider with notes end

        // Section content
        p.text-center Zollo App does all the work for you. Download Now

        .download-btns.white.text-center
            a.btn-app-store(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank")
            a.btn-play-store(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank")

// Work section end
