// Pricing section begin
section.section.bg-gray#prices
    .container
        // Section title
        h2.section-title Affordable Packages
        p We want the template you downloaded look unique and new for such a long time as it is possible

        // Pricing table
        .pricing-table-group
            // Table item begin
            .pricing-table
                // Table head
                .item-header
                    h2 Classic
                    h3.price $9.99 / month
                // Table content
                .item-body
                    // List of properties
                    ul
                        li
                            strong 1GB&nbsp;
                            | File storage
                        li
                            strong Unlimited&nbsp;
                            | products
                        li
                            strong 24/7&nbsp;
                            | Support
                        li
                            strong Discount&nbsp;
                            | code engine
                // Table footer
                .item-footer
                    a.btn(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank") Buy now
            // Table item end

            // Table item begin with premium
            .pricing-table.premium
                // Table head
                .item-header
                    h2 Premium
                    h3.price $85.99 / month
                // Table content
                .item-body
                    // List of properties
                    ul
                        li
                            strong 5GB&nbsp;
                            | File storage
                        li
                            strong Unlimited&nbsp;
                            | products
                        li
                            strong 24/7&nbsp;
                            | Support
                        li
                            strong Discount&nbsp;
                            | code engine

                // Table footer
                .item-footer
                    a.btn(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank") Buy now
            // Table item end

            // Table item begin
            .pricing-table
                // Table head
                .item-header
                    h2 Pro
                    h3.price $59.99 / month
                // Table content
                .item-body
                    // List of properties
                    ul
                        li
                            strong 10GB&nbsp;
                            | File storage
                        li
                            strong Unlimited&nbsp;
                            | products
                        li
                            strong 24/7&nbsp;
                            | Support
                        li
                            strong Discount&nbsp;
                            | code engine

                // Table footer
                .item-footer
                    a.btn(href="http://themeforest.net/item/zollo-v2-html-landing-page/14858236", target="_blank") Buy now
            // Table item end

// Pricing section end