// Reviews section begin
section.section.bg-variant.three#reviews
    .container
        // Section title
        h2.section-title Why do people loves us

        // Reviews carousel begin
        .testimonials-carousel
            // Review item
            .slide
                .text My colleague recommended them to me. I hesitated for a long time, but than I tried and understood what I had paid off for.
                .author
                    figure.picture
                        if prod
                            img(src="http://placehold.it/95x95", alt="Author pic")
                        else
                            img(src="assets/images/pearson-1.jpg", alt="Author pic")

                        figcaption
                            .name Mark Olsen
                            small Happy customer
            // Review item
            .slide
                .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in rutrum sapien. Pellentesque at enim pellentesque, ullamcorper justo ac, scelerisque elit.
                .author
                    figure.picture
                        if prod
                            img(src="http://placehold.it/95x95", alt="Author pic")
                        else
                            img(src="assets/images/pearson-2.jpg", alt="Author pic")

                        figcaption
                            .name David Corr
                            small Happy customer
            // Review item
            .slide
                .text Nam semper nibh dolor, sed venenatis tellus varius non. Aenean pellentesque augue eget lacus pharetra venenatis. Nulla facilisi.
                .author
                    figure.picture
                        if prod
                            img(src="http://placehold.it/95x95", alt="Author pic")
                        else
                            img(src="assets/images/pearson-3.jpg", alt="Author pic")

                        figcaption
                            .name Nikolas Observ
                            small Happy customer
        // Reviews carousel end
// Reviews section end