// Widget sidebar begin
aside.widget-zone
    // Widget begin
    .widget.recent-posts
        h4.widget-title Recent posts

        // Posts list
        .post-grid
            // Post item begin
            article.post-item
                // Post thumbnail
                figure.post-thumbnail
                    a(href="blog.html")
                        if prod
                            img(src="http://placehold.it/370x271", alt="app")
                        else
                            img(src="assets/images/post-thumbnail-1.jpg", alt="post thumbnail")

                // Post excerpt
                .post-body
                    h4
                        a(href="blog.html") Zostrum exeration
                    p Lorem ipsum dolor sit amet, consectetur adi iscing elit. Donec elit leo, sollicitudin a vehicula lobortis at neque. Ut aliquam pellentesque

                // Post footer
                .post-footer
                    .post-meta
                        .meta-item
                            span.fa.fa-calendar.fa-fw
                            | 25 october 2015
                        .meta-item
                            span.fa.fa-comments-o.fa-fw
                            | 25
                        .meta-item
                            a.read-more(href="posts.html") Read more
            // Post item end

            // Post item begin
            article.post-item
                // Post thumbnail
                figure.post-thumbnail
                    a(href="blog.html")
                        if prod
                            img(src="http://placehold.it/370x271", alt="app")
                        else
                            img(src="assets/images/post-thumbnail-2.jpg", alt="post thumbnail")

                // Post excerpt
                .post-body
                    h4
                        a(href="blog.html") Zostrum exeration
                    p Lorem ipsum dolor sit amet, consectetur adi iscing elit. Donec elit leo, sollicitudin a vehicula lobortis at neque. Ut aliquam pellentesque

                // Post footer
                .post-footer
                    .post-meta
                        .meta-item
                            span.fa.fa-calendar.fa-fw
                            | 25 october 2015
                        .meta-item
                            span.fa.fa-comments-o.fa-fw
                            | 25
                        .meta-item
                            a.read-more(href="posts.html") Read more
            // Post item end

            // Post item begin
            article.post-item
                // Post thumbnail
                figure.post-thumbnail
                    a(href="blog.html")
                        if prod
                            img(src="http://placehold.it/370x271", alt="app")
                        else
                            img(src="assets/images/post-thumbnail-3.jpg", alt="post thumbnail")

                // Post excerpt
                .post-body
                    h4
                        a(href="blog.html") Zostrum exeration
                    p Lorem ipsum dolor sit amet, consectetur adi iscing elit. Donec elit leo, sollicitudin a vehicula lobortis at neque. Ut aliquam pellentesque

                // Post footer
                .post-footer
                    .post-meta
                        .meta-item
                            span.fa.fa-calendar.fa-fw
                            | 25 october 2015
                        .meta-item
                            span.fa.fa-comments-o.fa-fw
                            | 25
                        .meta-item
                            a.read-more(href="posts.html") Read more
            // Post item end
    // Widget end
// Widget sidebar end