//- extend layout file
extends layouts/default

//- change web page title
block title
    | New Zollo V2

//- include need page partials
block content
    include partials/nav
    include partials/header-legacy
    include includes/awesome
    include includes/how-does
    include includes/features
    include includes/video
    include includes/pricing-tables
    include includes/testimonials
    include includes/screenshot
    include includes/subscribe
    include includes/posts
    include partials/footer