// Variables for main stylesheet

ks-rem-base = 15px // Base size for rems
base-font-family = "Raleway"  // Base font

main-color = #7f7e7e // Main text color
dark-color = #191919  // Color for headlines
primary-color = #37bbf9 // Color for link, buttons, etc.
red-color = #ff0000 // Color for link, buttons, etc.
light-gray = #f6f6f6 // Section gray bg, no-active
lighten-gray = #f9f9f9
lighten-gray-2 = #eeeeee

section-title-color = #444444 // Section title color

container = 1200px // Web site width
gutter = 15px // Gutter for website container

navbar-height = 83px // Navbar size
navbar-bd-color = #fff // Fixed navbar background
navbar-text-color = #a6a6a6 // navbar links color

tag-color = #c6c6c6 // Color for tags in blog page

comment-bg-color = #e9e9e9 // Background for comments in blog page

// Responsive breakpoints

rupture.mobile-cutoff = mobile-cutoff = 460px // Mobile phones
rupture.tablet-cutoff = tablet-cutoff = 768px // Tablets
rupture.desktop-cutoff = desktop-cutoff = 1200px // Desktops
laptop-cutoff = 1440px // Laptops

// Backgrounds

// For demo
//bg-one = '../images/section-bg-1.jpg'
//bg-two = '../images/section-bg-1.jpg'
//bg-three = '../images/section-bg-1.jpg'
//bg-four = '../images/section-bg-1.jpg'
//bg-five = '../images/section-bg-1.jpg'
//bg-six = '../images/section-bg-1.jpg'
//header-bg = '../images/header-bg.jpg'
//header-bg-2 = '../images/header-bg-2.jpg'

// For download
bg-one = 'http://placehold.it/1920x1040'
bg-two = 'http://placehold.it/1920x1040'
bg-three = 'http://placehold.it/1920x1040'
bg-four = 'http://placehold.it/1920x1040'
bg-five = 'http://placehold.it/1920x1040'
bg-six = 'http://placehold.it/1920x1040'
header-bg = header-bg-2 = 'http://placehold.it/1920x1040'